{% extends 'base.html' %}

{% block content %}



<style>
    button {
        background-color: green;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: darkgreen;
    }

    form {
        text-align: center;
    }
</style>

<script>
    var texto = "{{ texto }}";
    $("#descripcion").val(" " + texto.trim());
    $(document).ready(function() {
        $("#descripcion").on("keyup", function(event) {
            if (event.keyCode === 32) { 
                event.preventDefault(); // Prevenir el comportamiento predeterminado de la tecla Enter
                $(this).closest('form').submit(); // Enviar el formulario más cercano
            }
        });

        // Seleccionar el contenido de la caja de texto y establecer el cursor al final
        var descripcion = document.getElementById('descripcion');
        descripcion.focus();
        descripcion.setSelectionRange(descripcion.value.length, descripcion.value.length);
    });
</script>


<form action="/adendas/probar/" method="get">
    <label for="descripcion">Descripción de la adenda:</label>
    <br>
    <textarea name="descripcion" placeholder="Ingresa la descripción.." id="descripcion">{{texto}}</textarea>  
    <br>
    <tbody>
        {% for recomendacion in recomendaciones %}
            <tr>
                <td>{{ recomendacion }} </td><br>
            </tr>
        {% endfor %}
    </tbody>
</form>
{% endblock %}

